article.trident-default-product-headline{
    background: center center no-repeat no-repeat;
    background-size:cover;
    min-height: 450px;
    text-align: center;
    position: relative;
    padding: 10px;
}